/* für erste seite und adventskranz */
.unterricht h1 {
	color: red;
	font-family: Helvetica, Arial;
	font-size: 40px;
}

/* Navigation */
.unterricht p {
	margin: 0px;
	padding: 0px;
}

.days {
	background-color: red !important;
	margin: auto;
	width: 200px;
	height: 200px;
	border: 2px solid black;
	text-align: center;
	color: white;
	font-size: 48px;
	line-height: 200px;
}

/* .days:hover { */
/* background-color: green; */
/* transform: scale(1.2, 1.2); */
/* transition-duration: 1.0s; */
/* } */

.days:active {
	width: 200px;
	height: 200px;
	transform: rotate(360deg);
	transition-duration: 2s;

}



.flex-wrapper {
	justify-content: center;
	margin: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 672px;
	height: 672px;
	background-color: rgb(141, 141, 141);
}

#day1:active {
	background: url(../Pictures/labrador.jpg);
		background-size: cover;
}
#day2:active {
	background: url(../Pictures/Bild.jpg);
	background-size: cover;
}