/* für erste seite und adventskranz */
.unterricht h1 {
	color: red;
	font-family: Helvetica, Arial;
	font-size: 40px;
}

/* Navigation */
.unterricht p {
	margin: 0px;
	padding: 0px;
}

.days {
	background-color: red;
	margin: 10px;
	width: 200px;
	height: 200px;
	border: 2px solid black;
	/* border-bottom: 10px solid black; */
	/* border-top: 10px solid black; */
	/* border-left: 20px solid black; */
	/* border-right: 20px solid black; */
	/* margin-left: 10px; */
}

.days:hover {
	background-color: green;
	transform: scale(1.2, 1.2);
	transition-duration: 1.0s;
}

.days:active {
	background: url(../Pictures/labrador.jpg) no-repeat red;
	background-size: cover;
	width: 200px;
	height: 200px;

}
.flex-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 672px;
	height: 672px;
	background-color: rgb(141, 141, 141);
}