/*Navigation*/
li
{
 list-style-type: none;
}
li:hover
{
  background-color: darkgoldenrod;
}
a
{
 text-decoration: none;
 color:black;
}

body
{
    font-family: helvetica,arial;
    background-color: antiquewhite;
}
